body {
    font-family: Arial;
}
.border {
margin: 120px auto;
width: 815px;
height: 60px;
border: 1px solid #b8e5bc;
background-color: #daf1dc;


}

.blue {
    position: absolute;
color: #003580;
font-weight: 700;
padding-top:12px;
padding-left: 50px;
}
.clid img{
    border-right:28px#daf1dc  solid;
padding:15px 10px;
}
.iks img{
    padding:23px 10px;

}
.green {
    position: absolute;
    padding:33px 50px;
color:#2c7e0c;
}
