.border {
width: 300px;
height: 130px;
border: 1px solid #cccccc;
margin:60px auto;
padding: 15px 10px;
}

.red {
color:#b21701 ;
font-weight: 600;
font-size: 18px;
}


.first-box{
line-height: 25px;
padding-top: 15px;
font-size: 18px;
text-align: left;
}

.second-box {
position: relative;
text-align: right;
bottom: 73px;
line-height: 25px;
font-weight: bolder;
font-size: 20px;
}