body {
    font-family: "Times", serif;
      font-size: 46px;
    background: url("http://static2.bigstockphoto.com/thumbs/6/5/6/small2/65648002.jpg");
  }
  div {
    width: 530px;
    margin: 60px auto;
  }
  span {
    text-transform: uppercase;
      letter-spacing: 9px;
      line-height: 80px;
  }
  svg {
      margin-bottom: 10px;
    vertical-align: bottom;
  }
  rect {
    fill: black;
  }
  .first {
    margin-right: 26px;
  }