body {
    background-color: aquamarine;
}

.block1 {
position: relative;
width: 300px;
height: 300px;
margin: 30px auto;
border-radius: 50%;
background-color: #e0aa14;
} 


.block1::before {
	content:"";
  position: absolute;
	width: 150px;
	height: 150px;
	top: 25%;
	left: 25%;
	border-radius: 50%;
	background-color: black;
}