.border {
    width: 820px;
height: 60px;
border: 1px solid #b8e6bb;
background-color: #dff7e1;
margin: 50px auto;

}

.blue {

padding-left: 50px;
padding-top: 10px;

color:#022e84 ;
font-weight: 900;


}

.green {
padding-left: 50px;
line-height: 1.5em;
color: #238000;

}



