html {
position: relative;
min-height: 100%;
}


body {
min-height: 100%;
margin: 0;}


section.simple {
min-height:70px;
width:370px;
margin:50px auto;
background:#FF0030;
border-radius:10px;
padding:5px; }
        
.simple_container {					
min-width:365px;
border:#FF0 dashed 2px;
border-radius:10px;
 margin:auto;
border-color:white; 
}

.container_title { 
font-size:21px;
color:white;
text-align:center;
margin: 20px auto;      
}

span {
padding:5px;
}					
  
span::-moz-selection {
background: #FE9857;
color:#000000;
}

span::selection {
background: #FF9559;
color:#000000;}