body {
    background-image: url("http://static2.bigstockphoto.com/thumbs/6/5/6/small2/65648002.jpg");
}

.container {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .block {
    transform: rotate(45deg);
    border-radius: 10px;
    margin-right: 44px;
     
 }
 .square1 {
     background-color: #3B00FC;
     width: 120px;
     height: 120px;
     
 }
 .square2 {
     background-color: #00831C;
     width: 100px;
     height: 100px;
     margin-right: 36px;
 }
 .square3 {
     background-color: #FF0000;
     width: 80px;
     height: 80px;
 }
 