body{
    background-color: black;
}
ul{
list-style: none;
margin: 20px auto;

}

a {
text-decoration: none;
font-size: 2em;
color: white;
padding: 15px;
transition: .5s;
}

li{
    display: inline-block;
}
a:hover{
    color: grey;
transition: .5s all;
}