body {
    background-color: #b8acab;
}

.blockend{
margin: 40px auto; 
margin-left: 80px;
}


.block-left  {
   width: 0px;
   height: 0px;
   border-left: 70px solid transparent;
   border-right: 70px solid transparent;
border-bottom: 50px solid green;
display: inline-block;
}


.block-centr {
 width: 0px;
   height: 0px;
 border-left: 100px solid transparent;
   border-right: 100px solid transparent;   
border-top: 200px solid green;
display: inline-block;
}

.block-right {
    width: 0px;
    height: 0px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
 border-bottom: 50px solid green;
 display: inline-block;  
}