  body{
	margin:20px auto;
	margin-left: 500px;
}

.container{
	width:400px;
	background-color:#1E1F21;
	padding-bottom:15px;
	position:relative;
}

.orange{
	color:#D5BE92;
	font-size:16px;
}

.name{
	background-color:#E18727;
	color:#ffffff;
	height:30px;
	padding-left:15px;
	line-height:30px;
	font-family:monospace;
	font-size:16px;
}

.grey{
color:#94919C;
margin-left:20px;
font-size:14px;
font-family:monospace;
}

.red{
	color:#B47472;
	font-size:14px;
	font-family:monospace;
}

.white{
	color:#ffffff;
}

.code{
	margin-left:15px;
	margin-top:20px;
	line-height:1.3;
}

p{
	position:absolute;
	text-align:right;
	color:#535353;
	font-size:19px;
	right:-8px;
}

p{
	fs
}