body {
    background-color: #a6ad91;
}

.green {
width: 400px;
height: 150px;
background-color: #1f8e41;
border-radius: 10px;
box-shadow:10px 10px 2px 2px #820200;
margin: 120px auto;
}

span {
display: inline-block;
font-size: 1.5em;
word-spacing: 20px;
padding: 60px 0px 0px 90px;
}